<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Pulsestorm_fullmodulee::blogs" resource="Pulsestorm_fullmodulee::blogs" title="fullmodulee blogs" action="pulsestorm_fullmodulee_blogs/index/index" module="Pulsestorm_fullmodulee" sortOrder="10"/><add id="Pulsestorm_fullmodulee::blogs_list" resource="Pulsestorm_fullmodulee::blogs" title="blog Objects" action="pulsestorm_fullmodulee_blogs/index/index" module="Pulsestorm_fullmodulee" sortOrder="10" parent="Pulsestorm_fullmodulee::blogs" dependsOnModule="Pulsestorm_fullmodulee"/></menu>
</config>
