/* cbjsTree default theme */
.cbjstree-node,
.cbjstree-children,
.cbjstree-container-ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.cbjstree-node {
  white-space: nowrap;
}
.cbjstree-anchor {
  display: inline-block;
  color: black;
  white-space: nowrap;
  padding: 0 4px 0 1px;
  margin: 0;
  vertical-align: top;
}
.cbjstree-anchor:focus {
  outline: 0;
}
.cbjstree-anchor,
.cbjstree-anchor:link,
.cbjstree-anchor:visited,
.cbjstree-anchor:hover,
.cbjstree-anchor:active {
  text-decoration: none;
  color: inherit;
}
.cbjstree-icon {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}
.cbjstree-icon:empty {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}
.cbjstree-ocl {
  cursor: pointer;
}
.cbjstree-leaf > .cbjstree-ocl {
  cursor: default;
}
.cbjstree .cbjstree-open > .cbjstree-children {
  display: block;
}
.cbjstree .cbjstree-closed > .cbjstree-children,
.cbjstree .cbjstree-leaf > .cbjstree-children {
  display: none;
}
.cbjstree-anchor > .cbjstree-themeicon {
  margin-right: 2px;
}
.cbjstree-no-icons .cbjstree-themeicon,
.cbjstree-anchor > .cbjstree-themeicon-hidden {
  display: none;
}
.cbjstree-hidden,
.cbjstree-node.cbjstree-hidden {
  display: none;
}
.cbjstree-rtl .cbjstree-anchor {
  padding: 0 1px 0 4px;
}
.cbjstree-rtl .cbjstree-anchor > .cbjstree-themeicon {
  margin-left: 2px;
  margin-right: 0;
}
.cbjstree-rtl .cbjstree-node {
  margin-left: 0;
}
.cbjstree-rtl .cbjstree-container-ul > .cbjstree-node {
  margin-right: 0;
}
.cbjstree-wholerow-ul {
  position: relative;
  display: inline-block;
  min-width: 100%;
}
.cbjstree-wholerow-ul .cbjstree-leaf > .cbjstree-ocl {
  cursor: pointer;
}
.cbjstree-wholerow-ul .cbjstree-anchor,
.cbjstree-wholerow-ul .cbjstree-icon {
  position: relative;
}
.cbjstree-wholerow-ul .cbjstree-wholerow {
  width: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vakata-context {
  display: none;
}
.vakata-context,
.vakata-context ul {
  margin: 0;
  padding: 2px;
  position: absolute;
  background: #f5f5f5;
  border: 1px solid #979797;
  box-shadow: 2px 2px 2px #999999;
}
.vakata-context ul {
  list-style: none;
  left: 100%;
  margin-top: -2.7em;
  margin-left: -4px;
}
.vakata-context .vakata-context-right ul {
  left: auto;
  right: 100%;
  margin-left: auto;
  margin-right: -4px;
}
.vakata-context li {
  list-style: none;
}
.vakata-context li > a {
  display: block;
  padding: 0 2em 0 2em;
  text-decoration: none;
  width: auto;
  color: black;
  white-space: nowrap;
  line-height: 2.4em;
  text-shadow: 1px 1px 0 white;
  border-radius: 1px;
}
.vakata-context li > a:hover {
  position: relative;
  background-color: #e8eff7;
  box-shadow: 0 0 2px #0a6aa1;
}
.vakata-context li > a.vakata-context-parent {
  background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==");
  background-position: right center;
  background-repeat: no-repeat;
}
.vakata-context li > a:focus {
  outline: 0;
}
.vakata-context .vakata-context-hover > a {
  position: relative;
  background-color: #e8eff7;
  box-shadow: 0 0 2px #0a6aa1;
}
.vakata-context .vakata-context-separator > a,
.vakata-context .vakata-context-separator > a:hover {
  background: white;
  border: 0;
  border-top: 1px solid #e2e3e3;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  padding: 0;
  margin: 0 0 0 2.4em;
  border-left: 1px solid #e0e0e0;
  text-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
}
.vakata-context .vakata-contextmenu-disabled a,
.vakata-context .vakata-contextmenu-disabled a:hover {
  color: silver;
  background-color: transparent;
  border: 0;
  box-shadow: 0 0 0;
}
.vakata-context li > a > i {
  text-decoration: none;
  display: inline-block;
  width: 2.4em;
  height: 2.4em;
  background: transparent;
  margin: 0 0 0 -2em;
  vertical-align: top;
  text-align: center;
  line-height: 2.4em;
}
.vakata-context li > a > i:empty {
  width: 2.4em;
  line-height: 2.4em;
}
.vakata-context li > a .vakata-contextmenu-sep {
  display: inline-block;
  width: 1px;
  height: 2.4em;
  background: white;
  margin: 0 0.5em 0 0;
  border-left: 1px solid #e2e3e3;
}
.vakata-context .vakata-contextmenu-shortcut {
  font-size: 0.8em;
  color: silver;
  opacity: 0.5;
  display: none;
}
.vakata-context-rtl ul {
  left: auto;
  right: 100%;
  margin-left: auto;
  margin-right: -4px;
}
.vakata-context-rtl li > a.vakata-context-parent {
  background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7");
  background-position: left center;
  background-repeat: no-repeat;
}
.vakata-context-rtl .vakata-context-separator > a {
  margin: 0 2.4em 0 0;
  border-left: 0;
  border-right: 1px solid #e2e3e3;
}
.vakata-context-rtl .vakata-context-left ul {
  right: auto;
  left: 100%;
  margin-left: -4px;
  margin-right: auto;
}
.vakata-context-rtl li > a > i {
  margin: 0 -2em 0 0;
}
.vakata-context-rtl li > a .vakata-contextmenu-sep {
  margin: 0 0 0 0.5em;
  border-left-color: white;
  background: #e2e3e3;
}
#cbjstree-marker {
  position: absolute;
  top: 0;
  left: 0;
  margin: -5px 0 0 0;
  padding: 0;
  border-right: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
#cbjstree-dnd {
  line-height: 16px;
  margin: 0;
  padding: 4px;
}
#cbjstree-dnd .cbjstree-icon,
#cbjstree-dnd .cbjstree-copy {
  display: inline-block;
  text-decoration: none;
  margin: 0 2px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
}
#cbjstree-dnd .cbjstree-ok {
  background: green;
}
#cbjstree-dnd .cbjstree-er {
  background: red;
}
#cbjstree-dnd .cbjstree-copy {
  margin: 0 2px 0 2px;
}
.cbjstree-default .cbjstree-node,
.cbjstree-default .cbjstree-icon {
  background-repeat: no-repeat;
  background-color: transparent;
}
.cbjstree-default .cbjstree-anchor,
.cbjstree-default .cbjstree-wholerow {
  transition: background-color 0.15s, box-shadow 0.15s;
}
.cbjstree-default .cbjstree-hovered {
  background: #e7f4f9;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #cccccc;
}
.cbjstree-default .cbjstree-context {
  background: #e7f4f9;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #cccccc;
}
.cbjstree-default .cbjstree-clicked {
  background: #beebff;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999999;
}
.cbjstree-default .cbjstree-no-icons .cbjstree-anchor > .cbjstree-themeicon {
  display: none;
}
.cbjstree-default .cbjstree-disabled {
  background: transparent;
  color: #666666;
}
.cbjstree-default .cbjstree-disabled.cbjstree-hovered {
  background: transparent;
  box-shadow: none;
}
.cbjstree-default .cbjstree-disabled.cbjstree-clicked {
  background: #efefef;
}
.cbjstree-default .cbjstree-disabled > .cbjstree-icon {
  opacity: 0.8;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'cbjstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#cbjstree-grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
.cbjstree-default .cbjstree-search {
  font-style: italic;
  color: #8b0000;
  font-weight: bold;
}
.cbjstree-default .cbjstree-no-checkboxes .cbjstree-checkbox {
  display: none !important;
}
.cbjstree-default.cbjstree-checkbox-no-clicked .cbjstree-clicked {
  background: transparent;
  box-shadow: none;
}
.cbjstree-default.cbjstree-checkbox-no-clicked .cbjstree-clicked.cbjstree-hovered {
  background: #e7f4f9;
}
.cbjstree-default.cbjstree-checkbox-no-clicked > .cbjstree-wholerow-ul .cbjstree-wholerow-clicked {
  background: transparent;
}
.cbjstree-default.cbjstree-checkbox-no-clicked > .cbjstree-wholerow-ul .cbjstree-wholerow-clicked.cbjstree-wholerow-hovered {
  background: #e7f4f9;
}
.cbjstree-default > .cbjstree-striped {
  min-width: 100%;
  display: inline-block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==") left top repeat;
}
.cbjstree-default > .cbjstree-wholerow-ul .cbjstree-hovered,
.cbjstree-default > .cbjstree-wholerow-ul .cbjstree-clicked {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}
.cbjstree-default .cbjstree-wholerow {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cbjstree-default .cbjstree-wholerow-hovered {
  background: #e7f4f9;
}
.cbjstree-default .cbjstree-wholerow-clicked {
  background: #beebff;
  background: -webkit-linear-gradient(top, #beebff 0%, #a8e4ff 100%);
  background: linear-gradient(to bottom, #beebff 0%, #a8e4ff 100%);
}
.cbjstree-default .cbjstree-node {
  min-height: 24px;
  line-height: 24px;
  margin-left: 24px;
  min-width: 24px;
}
.cbjstree-default .cbjstree-anchor {
  line-height: 24px;
  height: 24px;
}
.cbjstree-default .cbjstree-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.cbjstree-default .cbjstree-icon:empty {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.cbjstree-default.cbjstree-rtl .cbjstree-node {
  margin-right: 24px;
}
.cbjstree-default .cbjstree-wholerow {
  height: 24px;
}
.cbjstree-default .cbjstree-node,
.cbjstree-default .cbjstree-icon {
  background-image: url("32px.png");
}
.cbjstree-default .cbjstree-node {
  background-position: -292px -4px;
  background-repeat: repeat-y;
}
.cbjstree-default .cbjstree-last {
  background: transparent;
}
.cbjstree-default .cbjstree-open > .cbjstree-ocl {
  background-position: -132px -4px;
}
.cbjstree-default .cbjstree-closed > .cbjstree-ocl {
  background-position: -100px -4px;
}
.cbjstree-default .cbjstree-leaf > .cbjstree-ocl {
  background-position: -68px -4px;
}
.cbjstree-default .cbjstree-themeicon {
  background-position: -260px -4px;
}
.cbjstree-default > .cbjstree-no-dots .cbjstree-node,
.cbjstree-default > .cbjstree-no-dots .cbjstree-leaf > .cbjstree-ocl {
  background: transparent;
}
.cbjstree-default > .cbjstree-no-dots .cbjstree-open > .cbjstree-ocl {
  background-position: -36px -4px;
}
.cbjstree-default > .cbjstree-no-dots .cbjstree-closed > .cbjstree-ocl {
  background-position: -4px -4px;
}
.cbjstree-default .cbjstree-disabled {
  background: transparent;
}
.cbjstree-default .cbjstree-disabled.cbjstree-hovered {
  background: transparent;
}
.cbjstree-default .cbjstree-disabled.cbjstree-clicked {
  background: #efefef;
}
.cbjstree-default .cbjstree-checkbox {
  background-position: -164px -4px;
}
.cbjstree-default .cbjstree-checkbox:hover {
  background-position: -164px -36px;
}
.cbjstree-default.cbjstree-checkbox-selection .cbjstree-clicked > .cbjstree-checkbox,
.cbjstree-default .cbjstree-checked > .cbjstree-checkbox {
  background-position: -228px -4px;
}
.cbjstree-default.cbjstree-checkbox-selection .cbjstree-clicked > .cbjstree-checkbox:hover,
.cbjstree-default .cbjstree-checked > .cbjstree-checkbox:hover {
  background-position: -228px -36px;
}
.cbjstree-default .cbjstree-anchor > .cbjstree-undetermined {
  background-position: -196px -4px;
}
.cbjstree-default .cbjstree-anchor > .cbjstree-undetermined:hover {
  background-position: -196px -36px;
}
.cbjstree-default .cbjstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'cbjstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#cbjstree-grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
.cbjstree-default > .cbjstree-striped {
  background-size: auto 48px;
}
.cbjstree-default.cbjstree-rtl .cbjstree-node {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==");
  background-position: 100% 1px;
  background-repeat: repeat-y;
}
.cbjstree-default.cbjstree-rtl .cbjstree-last {
  background: transparent;
}
.cbjstree-default.cbjstree-rtl .cbjstree-open > .cbjstree-ocl {
  background-position: -132px -36px;
}
.cbjstree-default.cbjstree-rtl .cbjstree-closed > .cbjstree-ocl {
  background-position: -100px -36px;
}
.cbjstree-default.cbjstree-rtl .cbjstree-leaf > .cbjstree-ocl {
  background-position: -68px -36px;
}
.cbjstree-default.cbjstree-rtl > .cbjstree-no-dots .cbjstree-node,
.cbjstree-default.cbjstree-rtl > .cbjstree-no-dots .cbjstree-leaf > .cbjstree-ocl {
  background: transparent;
}
.cbjstree-default.cbjstree-rtl > .cbjstree-no-dots .cbjstree-open > .cbjstree-ocl {
  background-position: -36px -36px;
}
.cbjstree-default.cbjstree-rtl > .cbjstree-no-dots .cbjstree-closed > .cbjstree-ocl {
  background-position: -4px -36px;
}
.cbjstree-default .cbjstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0;
}
.cbjstree-default > .cbjstree-container-ul .cbjstree-loading > .cbjstree-ocl {
  background: url("throbber.gif") center center no-repeat;
}
.cbjstree-default .cbjstree-file {
  background: url("32px.png") -100px -68px no-repeat;
}
.cbjstree-default .cbjstree-folder {
  background: url("32px.png") -260px -4px no-repeat;
}
.cbjstree-default > .cbjstree-container-ul > .cbjstree-node {
  margin-left: 0;
  margin-right: 0;
}
#cbjstree-dnd.cbjstree-default {
  line-height: 24px;
  padding: 0 4px;
}
#cbjstree-dnd.cbjstree-default .cbjstree-ok,
#cbjstree-dnd.cbjstree-default .cbjstree-er {
  background-image: url("32px.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
#cbjstree-dnd.cbjstree-default i {
  background: transparent;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
#cbjstree-dnd.cbjstree-default .cbjstree-ok {
  background-position: -4px -68px;
}
#cbjstree-dnd.cbjstree-default .cbjstree-er {
  background-position: -36px -68px;
}
.cbjstree-default.cbjstree-rtl .cbjstree-node {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==");
}
.cbjstree-default.cbjstree-rtl .cbjstree-last {
  background: transparent;
}
.cbjstree-default-small .cbjstree-node {
  min-height: 18px;
  line-height: 18px;
  margin-left: 18px;
  min-width: 18px;
}
.cbjstree-default-small .cbjstree-anchor {
  line-height: 18px;
  height: 18px;
}
.cbjstree-default-small .cbjstree-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.cbjstree-default-small .cbjstree-icon:empty {
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.cbjstree-default-small.cbjstree-rtl .cbjstree-node {
  margin-right: 18px;
}
.cbjstree-default-small .cbjstree-wholerow {
  height: 18px;
}
.cbjstree-default-small .cbjstree-node,
.cbjstree-default-small .cbjstree-icon {
  background-image: url("32px.png");
}
.cbjstree-default-small .cbjstree-node {
  background-position: -295px -7px;
  background-repeat: repeat-y;
}
.cbjstree-default-small .cbjstree-last {
  background: transparent;
}
.cbjstree-default-small .cbjstree-open > .cbjstree-ocl {
  background-position: -135px -7px;
}
.cbjstree-default-small .cbjstree-closed > .cbjstree-ocl {
  background-position: -103px -7px;
}
.cbjstree-default-small .cbjstree-leaf > .cbjstree-ocl {
  background-position: -71px -7px;
}
.cbjstree-default-small .cbjstree-themeicon {
  background-position: -263px -7px;
}
.cbjstree-default-small > .cbjstree-no-dots .cbjstree-node,
.cbjstree-default-small > .cbjstree-no-dots .cbjstree-leaf > .cbjstree-ocl {
  background: transparent;
}
.cbjstree-default-small > .cbjstree-no-dots .cbjstree-open > .cbjstree-ocl {
  background-position: -39px -7px;
}
.cbjstree-default-small > .cbjstree-no-dots .cbjstree-closed > .cbjstree-ocl {
  background-position: -7px -7px;
}
.cbjstree-default-small .cbjstree-disabled {
  background: transparent;
}
.cbjstree-default-small .cbjstree-disabled.cbjstree-hovered {
  background: transparent;
}
.cbjstree-default-small .cbjstree-disabled.cbjstree-clicked {
  background: #efefef;
}
.cbjstree-default-small .cbjstree-checkbox {
  background-position: -167px -7px;
}
.cbjstree-default-small .cbjstree-checkbox:hover {
  background-position: -167px -39px;
}
.cbjstree-default-small.cbjstree-checkbox-selection .cbjstree-clicked > .cbjstree-checkbox,
.cbjstree-default-small .cbjstree-checked > .cbjstree-checkbox {
  background-position: -231px -7px;
}
.cbjstree-default-small.cbjstree-checkbox-selection .cbjstree-clicked > .cbjstree-checkbox:hover,
.cbjstree-default-small .cbjstree-checked > .cbjstree-checkbox:hover {
  background-position: -231px -39px;
}
.cbjstree-default-small .cbjstree-anchor > .cbjstree-undetermined {
  background-position: -199px -7px;
}
.cbjstree-default-small .cbjstree-anchor > .cbjstree-undetermined:hover {
  background-position: -199px -39px;
}
.cbjstree-default-small .cbjstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'cbjstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#cbjstree-grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
.cbjstree-default-small > .cbjstree-striped {
  background-size: auto 36px;
}
.cbjstree-default-small.cbjstree-rtl .cbjstree-node {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==");
  background-position: 100% 1px;
  background-repeat: repeat-y;
}
.cbjstree-default-small.cbjstree-rtl .cbjstree-last {
  background: transparent;
}
.cbjstree-default-small.cbjstree-rtl .cbjstree-open > .cbjstree-ocl {
  background-position: -135px -39px;
}
.cbjstree-default-small.cbjstree-rtl .cbjstree-closed > .cbjstree-ocl {
  background-position: -103px -39px;
}
.cbjstree-default-small.cbjstree-rtl .cbjstree-leaf > .cbjstree-ocl {
  background-position: -71px -39px;
}
.cbjstree-default-small.cbjstree-rtl > .cbjstree-no-dots .cbjstree-node,
.cbjstree-default-small.cbjstree-rtl > .cbjstree-no-dots .cbjstree-leaf > .cbjstree-ocl {
  background: transparent;
}
.cbjstree-default-small.cbjstree-rtl > .cbjstree-no-dots .cbjstree-open > .cbjstree-ocl {
  background-position: -39px -39px;
}
.cbjstree-default-small.cbjstree-rtl > .cbjstree-no-dots .cbjstree-closed > .cbjstree-ocl {
  background-position: -7px -39px;
}
.cbjstree-default-small .cbjstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0;
}
.cbjstree-default-small > .cbjstree-container-ul .cbjstree-loading > .cbjstree-ocl {
  background: url("throbber.gif") center center no-repeat;
}
.cbjstree-default-small .cbjstree-file {
  background: url("32px.png") -103px -71px no-repeat;
}
.cbjstree-default-small .cbjstree-folder {
  background: url("32px.png") -263px -7px no-repeat;
}
.cbjstree-default-small > .cbjstree-container-ul > .cbjstree-node {
  margin-left: 0;
  margin-right: 0;
}
#cbjstree-dnd.cbjstree-default-small {
  line-height: 18px;
  padding: 0 4px;
}
#cbjstree-dnd.cbjstree-default-small .cbjstree-ok,
#cbjstree-dnd.cbjstree-default-small .cbjstree-er {
  background-image: url("32px.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
#cbjstree-dnd.cbjstree-default-small i {
  background: transparent;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
#cbjstree-dnd.cbjstree-default-small .cbjstree-ok {
  background-position: -7px -71px;
}
#cbjstree-dnd.cbjstree-default-small .cbjstree-er {
  background-position: -39px -71px;
}
.cbjstree-default-small.cbjstree-rtl .cbjstree-node {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAACAQMAAABv1h6PAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMHBgAAiABBI4gz9AAAAABJRU5ErkJggg==");
}
.cbjstree-default-small.cbjstree-rtl .cbjstree-last {
  background: transparent;
}
.cbjstree-default-large .cbjstree-node {
  min-height: 32px;
  line-height: 32px;
  margin-left: 32px;
  min-width: 32px;
}
.cbjstree-default-large .cbjstree-anchor {
  line-height: 32px;
  height: 32px;
}
.cbjstree-default-large .cbjstree-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.cbjstree-default-large .cbjstree-icon:empty {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.cbjstree-default-large.cbjstree-rtl .cbjstree-node {
  margin-right: 32px;
}
.cbjstree-default-large .cbjstree-wholerow {
  height: 32px;
}
.cbjstree-default-large .cbjstree-node,
.cbjstree-default-large .cbjstree-icon {
  background-image: url("32px.png");
}
.cbjstree-default-large .cbjstree-node {
  background-position: -288px 0px;
  background-repeat: repeat-y;
}
.cbjstree-default-large .cbjstree-last {
  background: transparent;
}
.cbjstree-default-large .cbjstree-open > .cbjstree-ocl {
  background-position: -128px 0px;
}
.cbjstree-default-large .cbjstree-closed > .cbjstree-ocl {
  background-position: -96px 0px;
}
.cbjstree-default-large .cbjstree-leaf > .cbjstree-ocl {
  background-position: -64px 0px;
}
.cbjstree-default-large .cbjstree-themeicon {
  background-position: -256px 0px;
}
.cbjstree-default-large > .cbjstree-no-dots .cbjstree-node,
.cbjstree-default-large > .cbjstree-no-dots .cbjstree-leaf > .cbjstree-ocl {
  background: transparent;
}
.cbjstree-default-large > .cbjstree-no-dots .cbjstree-open > .cbjstree-ocl {
  background-position: -32px 0px;
}
.cbjstree-default-large > .cbjstree-no-dots .cbjstree-closed > .cbjstree-ocl {
  background-position: 0px 0px;
}
.cbjstree-default-large .cbjstree-disabled {
  background: transparent;
}
.cbjstree-default-large .cbjstree-disabled.cbjstree-hovered {
  background: transparent;
}
.cbjstree-default-large .cbjstree-disabled.cbjstree-clicked {
  background: #efefef;
}
.cbjstree-default-large .cbjstree-checkbox {
  background-position: -160px 0px;
}
.cbjstree-default-large .cbjstree-checkbox:hover {
  background-position: -160px -32px;
}
.cbjstree-default-large.cbjstree-checkbox-selection .cbjstree-clicked > .cbjstree-checkbox,
.cbjstree-default-large .cbjstree-checked > .cbjstree-checkbox {
  background-position: -224px 0px;
}
.cbjstree-default-large.cbjstree-checkbox-selection .cbjstree-clicked > .cbjstree-checkbox:hover,
.cbjstree-default-large .cbjstree-checked > .cbjstree-checkbox:hover {
  background-position: -224px -32px;
}
.cbjstree-default-large .cbjstree-anchor > .cbjstree-undetermined {
  background-position: -192px 0px;
}
.cbjstree-default-large .cbjstree-anchor > .cbjstree-undetermined:hover {
  background-position: -192px -32px;
}
.cbjstree-default-large .cbjstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'cbjstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#cbjstree-grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
.cbjstree-default-large > .cbjstree-striped {
  background-size: auto 64px;
}
.cbjstree-default-large.cbjstree-rtl .cbjstree-node {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==");
  background-position: 100% 1px;
  background-repeat: repeat-y;
}
.cbjstree-default-large.cbjstree-rtl .cbjstree-last {
  background: transparent;
}
.cbjstree-default-large.cbjstree-rtl .cbjstree-open > .cbjstree-ocl {
  background-position: -128px -32px;
}
.cbjstree-default-large.cbjstree-rtl .cbjstree-closed > .cbjstree-ocl {
  background-position: -96px -32px;
}
.cbjstree-default-large.cbjstree-rtl .cbjstree-leaf > .cbjstree-ocl {
  background-position: -64px -32px;
}
.cbjstree-default-large.cbjstree-rtl > .cbjstree-no-dots .cbjstree-node,
.cbjstree-default-large.cbjstree-rtl > .cbjstree-no-dots .cbjstree-leaf > .cbjstree-ocl {
  background: transparent;
}
.cbjstree-default-large.cbjstree-rtl > .cbjstree-no-dots .cbjstree-open > .cbjstree-ocl {
  background-position: -32px -32px;
}
.cbjstree-default-large.cbjstree-rtl > .cbjstree-no-dots .cbjstree-closed > .cbjstree-ocl {
  background-position: 0px -32px;
}
.cbjstree-default-large .cbjstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0;
}
.cbjstree-default-large > .cbjstree-container-ul .cbjstree-loading > .cbjstree-ocl {
  background: url("throbber.gif") center center no-repeat;
}
.cbjstree-default-large .cbjstree-file {
  background: url("32px.png") -96px -64px no-repeat;
}
.cbjstree-default-large .cbjstree-folder {
  background: url("32px.png") -256px 0px no-repeat;
}
.cbjstree-default-large > .cbjstree-container-ul > .cbjstree-node {
  margin-left: 0;
  margin-right: 0;
}
#cbjstree-dnd.cbjstree-default-large {
  line-height: 32px;
  padding: 0 4px;
}
#cbjstree-dnd.cbjstree-default-large .cbjstree-ok,
#cbjstree-dnd.cbjstree-default-large .cbjstree-er {
  background-image: url("32px.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
#cbjstree-dnd.cbjstree-default-large i {
  background: transparent;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
#cbjstree-dnd.cbjstree-default-large .cbjstree-ok {
  background-position: 0px -64px;
}
#cbjstree-dnd.cbjstree-default-large .cbjstree-er {
  background-position: -32px -64px;
}
.cbjstree-default-large.cbjstree-rtl .cbjstree-node {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAACAQMAAAAD0EyKAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjgIIGBgABCgCBvVLXcAAAAABJRU5ErkJggg==");
}
.cbjstree-default-large.cbjstree-rtl .cbjstree-last {
  background: transparent;
}
@media (max-width: 768px) {
  #cbjstree-dnd.cbjstree-dnd-responsive {
    line-height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px white;
  }
  #cbjstree-dnd.cbjstree-dnd-responsive > i {
    background: transparent;
    width: 40px;
    height: 40px;
  }
  #cbjstree-dnd.cbjstree-dnd-responsive > .cbjstree-ok {
    background-image: url("40px.png");
    background-position: 0 -200px;
    background-size: 120px 240px;
  }
  #cbjstree-dnd.cbjstree-dnd-responsive > .cbjstree-er {
    background-image: url("40px.png");
    background-position: -40px -200px;
    background-size: 120px 240px;
  }
  #cbjstree-marker.cbjstree-dnd-responsive {
    border-left-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    margin-top: -10px;
  }
}
@media (max-width: 768px) {
  .cbjstree-default-responsive {
    /*
	.cbjstree-open > .cbjstree-ocl,
	.cbjstree-closed > .cbjstree-ocl { border-radius:20px; background-color:white; }
	*/
  }
  .cbjstree-default-responsive .cbjstree-icon {
    background-image: url("40px.png");
  }
  .cbjstree-default-responsive .cbjstree-node,
  .cbjstree-default-responsive .cbjstree-leaf > .cbjstree-ocl {
    background: transparent;
  }
  .cbjstree-default-responsive .cbjstree-node {
    min-height: 40px;
    line-height: 40px;
    margin-left: 40px;
    min-width: 40px;
    white-space: nowrap;
  }
  .cbjstree-default-responsive .cbjstree-anchor {
    line-height: 40px;
    height: 40px;
  }
  .cbjstree-default-responsive .cbjstree-icon,
  .cbjstree-default-responsive .cbjstree-icon:empty {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .cbjstree-default-responsive > .cbjstree-container-ul > .cbjstree-node {
    margin-left: 0;
  }
  .cbjstree-default-responsive.cbjstree-rtl .cbjstree-node {
    margin-left: 0;
    margin-right: 40px;
    background: transparent;
  }
  .cbjstree-default-responsive.cbjstree-rtl .cbjstree-container-ul > .cbjstree-node {
    margin-right: 0;
  }
  .cbjstree-default-responsive .cbjstree-ocl,
  .cbjstree-default-responsive .cbjstree-themeicon,
  .cbjstree-default-responsive .cbjstree-checkbox {
    background-size: 120px 240px;
  }
  .cbjstree-default-responsive .cbjstree-leaf > .cbjstree-ocl,
  .cbjstree-default-responsive.cbjstree-rtl .cbjstree-leaf > .cbjstree-ocl {
    background: transparent;
  }
  .cbjstree-default-responsive .cbjstree-open > .cbjstree-ocl {
    background-position: 0 0px !important;
  }
  .cbjstree-default-responsive .cbjstree-closed > .cbjstree-ocl {
    background-position: 0 -40px !important;
  }
  .cbjstree-default-responsive.cbjstree-rtl .cbjstree-closed > .cbjstree-ocl {
    background-position: -40px 0px !important;
  }
  .cbjstree-default-responsive .cbjstree-themeicon {
    background-position: -40px -40px;
  }
  .cbjstree-default-responsive .cbjstree-checkbox,
  .cbjstree-default-responsive .cbjstree-checkbox:hover {
    background-position: -40px -80px;
  }
  .cbjstree-default-responsive.cbjstree-checkbox-selection .cbjstree-clicked > .cbjstree-checkbox,
  .cbjstree-default-responsive.cbjstree-checkbox-selection .cbjstree-clicked > .cbjstree-checkbox:hover,
  .cbjstree-default-responsive .cbjstree-checked > .cbjstree-checkbox,
  .cbjstree-default-responsive .cbjstree-checked > .cbjstree-checkbox:hover {
    background-position: 0 -80px;
  }
  .cbjstree-default-responsive .cbjstree-anchor > .cbjstree-undetermined,
  .cbjstree-default-responsive .cbjstree-anchor > .cbjstree-undetermined:hover {
    background-position: 0 -120px;
  }
  .cbjstree-default-responsive .cbjstree-anchor {
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px white;
  }
  .cbjstree-default-responsive > .cbjstree-striped {
    background: transparent;
  }
  .cbjstree-default-responsive .cbjstree-wholerow {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(64, 64, 64, 0.2);
    background: #ebebeb;
    height: 40px;
  }
  .cbjstree-default-responsive .cbjstree-wholerow-hovered {
    background: #e7f4f9;
  }
  .cbjstree-default-responsive .cbjstree-wholerow-clicked {
    background: #beebff;
  }
  .cbjstree-default-responsive .cbjstree-children .cbjstree-last > .cbjstree-wholerow {
    box-shadow: inset 0 -6px 3px -5px #666666;
  }
  .cbjstree-default-responsive .cbjstree-children .cbjstree-open > .cbjstree-wholerow {
    box-shadow: inset 0 6px 3px -5px #666666;
    border-top: 0;
  }
  .cbjstree-default-responsive .cbjstree-children .cbjstree-open + .cbjstree-open {
    box-shadow: none;
  }
  .cbjstree-default-responsive .cbjstree-node,
  .cbjstree-default-responsive .cbjstree-icon,
  .cbjstree-default-responsive .cbjstree-node > .cbjstree-ocl,
  .cbjstree-default-responsive .cbjstree-themeicon,
  .cbjstree-default-responsive .cbjstree-checkbox {
    background-image: url("40px.png");
    background-size: 120px 240px;
  }
  .cbjstree-default-responsive .cbjstree-node {
    background-position: -80px 0;
    background-repeat: repeat-y;
  }
  .cbjstree-default-responsive .cbjstree-last {
    background: transparent;
  }
  .cbjstree-default-responsive .cbjstree-leaf > .cbjstree-ocl {
    background-position: -40px -120px;
  }
  .cbjstree-default-responsive .cbjstree-last > .cbjstree-ocl {
    background-position: -40px -160px;
  }
  .cbjstree-default-responsive .cbjstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
  }
  .cbjstree-default-responsive .cbjstree-file {
    background: url("40px.png") 0 -160px no-repeat;
    background-size: 120px 240px;
  }
  .cbjstree-default-responsive .cbjstree-folder {
    background: url("40px.png") -40px -40px no-repeat;
    background-size: 120px 240px;
  }
  .cbjstree-default-responsive > .cbjstree-container-ul > .cbjstree-node {
    margin-left: 0;
    margin-right: 0;
  }
}
